/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.like-icon.is-liked .heart {
  animation: heartbeat 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
  animation-iteration-count: 1;
}

.like-icon.is-liked .sparks {
  animation: heartrays 0.3s ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
}

@keyframes heartbeat {
  to {
    scale: 1.25;
  }
}

@keyframes heartrays {
  to {
    fill: var(--animation-fill-color);
  }
}
