/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-basic);
  font-variation-settings: 'wght' var(--font-basic-weight); 
  background-image: var(--background-gradient);  
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  justify-self: center;
  background-color: white;
  width: var(--block-width);
  font-family: var(--font-accent);
  padding-block-start: var(--header-block-padding);
  padding-block-end: var(--header-block-padding);
  margin-block: 98px;
  border: var(--black-border);
}
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent);
  text-transform: uppercase;
  gap: 20px;
}

.logo-top {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.logo-bottom {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card-list {
 display: flex;
 flex-direction: column;
 max-width: var(--block-width);
 margin: 0 auto;
 gap: 50px;
}

.card {
  border: var(--black-border);
  font-size: 18px;
}

.card-title {
  font-family: var(--font-basic);
  font-weight: var(--font-basic-title-weight);
  font-size: 18px;
  padding-inline: 10px;
  padding-block: 4px;
  background-color: #fff;
  letter-spacing: 0.01rem;
  border-bottom: var(--black-border);
}



.card-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
  background-color: #fff;
  border-top: var(--black-border);
}

.card-image {
  width: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  height: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  overflow: hidden;
  position: relative;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 #fff, 
  0 1px #fff, 
  1px 0 #fff, 
  0 -1px #fff;
}

@supports ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .watermark {
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  }
}

.image {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

.card-text{
  line-height: 20.6px;
  letter-spacing: 0.04rem;
}

.card-button-container {
  display: flex;
  align-self: flex-end;
  gap: 7px;
}

.card__icon-button {
  
}

.card__like-button{
  padding: 0;
  margin: 0;
  border: var(--black-border);
  min-inline-size: 130px;
}

.button__text {
  font-family: var(--font-accent );
  font-weight: 400;
  font-size: 14px;
}

.button-save {
  display: flex;
  align-self: center;
  border: var(--black-border);
  background-color: #fff;
  margin-block-end: 100px;
  padding-inline: 20px;
  padding-block: 17px;
  gap: 8px;
}

.button-save-text {
  padding-block-start: 8px;
}